server:
  port: 8081

spring:
  application:
    name: admin-server
  boot:
    admin:
      discovery:
        enabled: true
      notify:
        enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery-server:8761/eureka/
  instance:
    prefer-ip-address: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
