server:
  port: 9001
spring:
  application:
    name: user-service
  config:
    import: optional:configserver:http://config-server:8888/
  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://mongo:27017/spring-cloud-platform}

eureka:
  client:
    service-url:
      defaultZone: http://discovery-server:8761/eureka/
    fetch-registry: true
    register-with-eureka: true

security:
  jwt:
    secret: changeme-secret

management:
  endpoints:
    web:
      exposure:
        include: health,info
